apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: {{.AppName}}
  namespace: {{.Namespace}}
spec:
  interval: {{.Interval}}
  chart:
    spec:
      chart: {{.ChartName}}
      version: '{{.ChartVersion}}'
      sourceRef:
        kind: HelmRepository
        name: {{.HelmRepoName}}
      interval: {{.Interval}}
  valuesFrom:
    - kind: ConfigMap
      name: {{.AppName}}-values
      valuesKey: values.yaml 